@font-face {
    font-family: Myst;
    src: url('./fonts/Exile_font.ttf');
}

:root {
    --bg-color: rgba(59, 32, 22, 0.7);
    --text-color: #fff7d3;
}

body {
    background-image: url('./img/sepia_cyan_blurred.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ddd;
    margin: 0;
    box-shadow: inset 0 0 120px black;
    overflow: hidden;
    height: 100vh;
}

#social {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 10px;
    width: 200px;
    text-align: left;

}

#social a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 -1px;
    opacity: 0.6;
}

#social a:hover {
    opacity: 1;
}

#video-camera {
    position: absolute;
    right: -30px;
    bottom: -130px;
}

#video-camera img {
    height: 100vh;
}

#viewscreen {
    position: absolute;
    top: 21vh;
    left: 11vh;
    width: 53vh;
    height: 35vh;

    overflow: hidden;

    background-color: rgb(230, 70, 70);
    box-shadow: inset 0 0 40px black;

    z-index: -2;
}

#static {
    position: absolute;
    width: 135%;
    top: -1%;
    left: 49%;
    transform: translateX(-50%);

    animation: staticFade 3s infinite alternate;

    z-index: -1;
}

@keyframes staticFade {
    0% {
        opacity: .1;
    }
    60% {
        opacity: .4;
    }
    100% {
        opacity: .70;
    }
}

#viewscreen.locked {
    background-image: none;
    background-color: #ff7b7b;
    filter: none;
}

@media (max-width: 800px) {
    #gears {
        display: none;
    }
}

#title {
    display: table;
    position: absolute;
    top: 15px;
    left: 25px;
    width: 450px;
    height: 220px;
    overflow: hidden;
    z-index: 2;

    transform: scale(0.95);
    transform-origin: 0 0 ;
}

h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    margin: 0 auto 0 auto;
    padding: 10px;
    font-family: Menlo, Courier;
    font-size: 34pt;
    font-weight: 100;
    letter-spacing: 5px;
    text-shadow: 4px 1px 0 rgba(0, 0, 0, .8);
    text-align: left;
}

.myst-logo {
    font-size: 90pt;
    font-family: Myst;
    font-weight: 400;

    height: 90px;
    line-height: 95px;
    letter-spacing: 15px;
    position: relative;
}
.logo-text {
    text-shadow: 4px 1px 3px rgba(50, 50, 50, .25);
    background: linear-gradient(0, orange, yellow);

    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    color: transparent;
    filter: saturate(.75);

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
}
.logo-shadow {
    color: black;
    text-shadow: 0 0 5px rgba(0, 0, 0, .8), 0 0 12px rgba(0, 0, 0, 0.6);

    position: absolute;
    top: 1px;
    left: 3px;

    z-index: -1;
    user-select: none;
}

#footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 2;
    margin: 0;
    padding: 10px;
    text-align: right;
}

#tagline {
    margin: 10px;
    display: none;
}

#footer form {
    margin-right: 25px;
    margin-bottom: 0;
    font-style: italic;
    font-size: 24px;
    font-family: 'Exo 2', sans-serif;
    color: white;
    display: inline-block;
}

#footer label {
    margin-right: 10px;
    text-shadow: 0 0 5px gold;
    display: inline-block;
}

#email {
    height: 40px;
    width: 400px;

    padding-left: 10px;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;

    border: none;
    border-radius: 5px;
}

#gears {
    height: 14px;
    opacity: .25;
    position: absolute;
    right: 15px;
    top: 0;
    width: 90px;
    height: 60px;
    z-index: 2;
    filter: invert(1);
}

#gears img {
    border-radius: 20px;
}
#gears.validated {
    opacity: 1;
    cursor: pointer;
}

#big-gear {
    width: 35px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(25deg);
    transition: transform .1s;
}
#small-gear {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 34px;
    transition: translateY(-50%) transform .1s;
}