@font-face {
    font-family: Myst;
    src: url('./fonts/Exile_font.ttf');
}

:root {
    --bg-color: rgba(59, 32, 22, 0.7);
    --text-color: #fff7d3;
}

body {
    background-image: url('./img/sepia_cyan_blurred.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ddd;
    margin: 0;
    box-shadow: inset 0 0 120px black;
    overflow: hidden;
    height: 100vh;
}

#social {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 200px;
    text-align: right;

}

#social a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 -1px;
    opacity: 0.6;
}

#social a:hover {
    opacity: 1;
}

#camera {
    position: absolute;
    bottom: -900px;
    left: 50%;
    transform: translateX(-55%);
    cursor: url('./img/pointer_hand.png'), auto;
}

#camera img {
    transform: rotateZ(1deg);
    width: 800px;
}

#camera div {
    width: 300px;
    height: 205px;
    position: absolute;
    top: 195px;
    left: 280px;
    box-shadow: inset 0 0 45px black;
}

#static {
    width: 400px;
    height: 220px;
    position: absolute;
    top: 185px;
    left: 229px;
    border-radius: 20px;
    box-shadow: inset 0 0 40px black;
    animation: staticFade 3s infinite alternate;
    background-color: red;
    z-index: -1;
}

@keyframes staticFade {
    0% {
        opacity: .1;
    }
    60% {
        opacity: .4;
    }
    100% {
        opacity: .75;
    }
}

#viewscreen {
    background-image: url('./img/Cyan_HQ_grayscale.jpg');
    background-position: -800px -30px;

    filter: brightness(.7) sepia(100%) hue-rotate(-50deg) saturate(2);
    z-index: -2;
}

#viewscreen.locked {
    background-image: none;
    background-color: #ff7b7b;
    filter: none;
}

@media (max-width: 800px) {
    #gears {
        display: none;
    }
}

#title {
    display: table;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 220px;
    overflow: hidden;
    z-index: 2;
}

#title-bg {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1.2) rotateZ(45deg);
    background-color: var(--bg-color);
    box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.5);
    z-index: -1;
}

h1 {
    display: table-cell;
    vertical-align: middle;
    color: var(--text-color);
    margin: 0 auto 0 auto;
    padding: 10px;
    font-family: 'Special Elite', sans-serif;
    font-size: 30pt;
    font-weight: 100;
    letter-spacing: 7px;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, .5);
    text-align: center;
}

.myst-logo {
    font-size: 86pt;
    font-family: Myst;
    font-weight: 400;

    line-height: 110px;
    letter-spacing: 15px;

    text-shadow: 4px 1px 3px rgba(0, 0, 0, .3);
    background: linear-gradient(0, orange, yellow);

    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    color: transparent;
    filter: saturate(.75);
}

#footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 2;
    margin: 0;
    text-align: center;
}

#tagline {
    margin: 10px;
    display: none;
}

#footer form {
    margin: 0;
    font-style: italic;
    font-size: 24px;
    font-family: 'Exo 2', sans-serif;
    color: white;
    display: inline-block;
}

#footer label {
    margin-right: 10px;
    text-shadow: 0 0 5px gold;
    display: inline-block;
}

#email {
    height: 40px;
    width: 350px;

    padding-left: 10px;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;

    border: none;
    border-radius: 5px;
}

#gears {
    display: inline-block;
    height: 14px;
    opacity: .5;
    position: relative;
}

#gears img {
    border-radius: 20px;
}

#gears.validated {
    opacity: 1;
    cursor: pointer;
}

#big-gear {
    width: 35px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(25deg);
    transition: transform .1s;
}
#small-gear {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 34px;
    transition: translateY(-50%) transform .1s;
}